/* リセット */
body,
h1,
p,
ul,
li,
input,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* 全体の設定 */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

/* ヘッダー */
.header {
    background-color: #000;
    color: #fff;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    box-sizing: border-box;
}

.header .container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.header .logo {
    flex: 1;
}

.header .logo img {
    max-height: 30px;
    height: auto;
    max-width: 100%;
}

.header .search-form {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-form input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.header .nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
}

#logout-form button {
    font-size: 20px;
    color: #fff;
    background-color: #000;
    border: none;
}

.nav a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.nav .sell-btn {
    background-color: #fff;
    padding: 4px 20px;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
    text-align: center;
}
@media (max-width: 850px) and (min-width: 768px) {
    .header .logo img {
            max-height: 23px;
            height: auto;
            max-width: 100%;
        }

    .header {
        flex-direction: row;
        /* 横並びを明示 */
        height: auto;
        padding: 5px;
    }

    .container {
        flex-direction: row;
        /* 横並びに調整 */
        align-items: center;
        justify-content: space-between;
        /* 子要素を均等に配置 */
    }

    .search-form input {
        width: 100%;
        /* 検索フォームの幅を調整 */
    }

    .nav {
        justify-content: flex-end;
        /* ナビゲーションを右揃え */
        gap: 10px;
    }

    #logout-form button {
        font-size: 13px;
        /* ボタンのフォントサイズ */
    }

    .nav a {
        font-size: 13px;
        /* ナビゲーションリンクのフォントサイズ */
    }

    .nav .sell-btn {
        padding: 5px 8px;
        font-size: 13px;
    }
}