
body,
h1,
p,
ul,
li,
input,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

.header {
    background-color: #000;
    color: #fff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    box-sizing: border-box;
}

.header .container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.header .logo {
    flex: 1;
}

.header .logo img {
    max-height: 30px;
    height: auto;
    max-width: 100%;
}

.header .search-form {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-form input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.header .nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
}

#login-form button {
    font-size: 20px;
    color: #fff;
    background-color: #000;
    border: none;
}

.nav a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.nav .sell-btn {
    background-color: #fff;
    padding: 4px 20px;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
    text-align: center;
}

.main {
    padding: 0;
}

.tabs-container {
    margin-top: 10px;
    padding: 0;
    border-bottom: 1px solid #ccc;
}

.tabs {
    display: flex;
    margin-left: 10%;
    font-size: 20px;
    font-weight: bold;
    gap: 7%;
    padding-top: 10px ;
}

.tab-link {
    color: #000;
    text-decoration: none;
}

.tab-link.active {
    color: red;
    font-weight: bold;
}


/* 商品一覧 */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 0 16px;
    margin: 50px auto;
    max-width: 95%;
}

.item {
    text-align: center;
    position: relative;
}

.item-image {
    width: 100%;
    aspect-ratio: 1;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
}

.item-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.item-status {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 3px;
}

.item-info {
    display: flex;
    justify-content: space-between;
    /* 左右に配置 */
    align-items: center;
    margin-top: 8px;
    font-size: 20px;
}

.item-name {
    color: #333;
    text-align: left;
    text-decoration: none;
}

a {
    text-decoration: none;
}

@media (max-width: 850px) and (min-width: 768px) {
    .header .logo img {
        max-height: 23px;
        height: auto;
        max-width: 100%;
    }

    .header {
        flex-direction: row;
        height: auto;
        padding: 5px;
    }

    .container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .search-form input {
        width: 100%;
    }

    .nav {
        justify-content: flex-end;
        gap: 10px;
    }

    #login-form button {
        font-size: 13px;
    }

    .nav a {
        font-size: 13px;
    }

    .nav .sell-btn {
        padding: 5px 8px;
        font-size: 13px;
    }
}