
body,
h1,
p,
ul,
li,
input,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

.header {
    background-color: #000;
    color: #fff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    box-sizing: border-box;
}

.header .container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.header .logo {
    flex: 1;
}

.header .logo img {
    max-height: 30px;
    height: auto;
    max-width: 100%;
}

.header .search-form {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-form input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.header .nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
}

#login-form button {
    font-size: 20px;
    color: #fff;
    background-color: #000;
    border: none;
}

.nav a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.nav .sell-btn {
    background-color: #fff;
    padding: 4px 20px;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
    text-align: center;
}

.item-detail {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    max-width: 1200px;
    margin: 50px auto;
}

.item-detail__left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;

}

.item-detail__image {
    max-width: 100%;
    /* 親コンテナの幅に合わせる */
    height: auto;
    /* アスペクト比を維持 */
    border-radius: 10px;
    /* 少し角を丸くする */
}

.item-detail__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.image-placeholder {
    width: 450px;
    height: 450px;
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #666;
}

.price {
    font-size: 30px;
}

.tax {
    font-size: 20px;
}


.actions {
    display: flex;
    gap: 20px;
    width: 100%;
}

.action-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: auto;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 36;
    font-size: 36px;
}

.likes_count,
.comments_count {
    font-size: 16px;
    margin-top: 5px;
    color: #666;
}



.item-detail__info,
.item-description,
.item-info,
.item-comments {
    margin-bottom: 20px;
}

.item-description {
    font-size: 16px;
    line-height: 1.5;
}

.item-comments h2 {
    color: #898888;
}

.buy-button {
    padding: 7px 0px;
    background-color: #d9534f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

.item-info {
    margin-top: 20px;
}

.item-info h2 {
    margin-bottom: 20px;
}

.info-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info-label {
    font-weight: bold;
    margin-right: 20px;
    width: 100px;
    text-align: left;
}

.category-values {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.category-value {
    background-color: #e8e8e8;
    padding: 2px 25px;
    font-size: 14px;
    border-radius: 25px;
    display: inline-block;
}

.status-value {
    border: none;
    font-size: 14px;
    padding: 2px 25px;
}


.comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.comment-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #e8e8e8;
    color: transparent;
}

.comment-author {
    font-weight: bold;
    font-size: 20px;
    color: #333;
    margin-left: 10px;
}

.comment-text {
    border: none;
    background-color: #e8e8e8;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
}

.comment-label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.comment-input {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
}

.comment-submit {
    padding: 10px 0;
    background-color: #d9534f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 850px) {
    .header .logo img {
        max-height: 23px;
        height: auto;
        max-width: 100%;
    }

    .header {
        flex-direction: row;
        height: auto;
        padding: 5px;
    }

    .container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .search-form input {
        width: 100%;
    }

    .nav {
        justify-content: flex-end;
        gap: 10px;
    }

    #login-form button {
        font-size: 13px;
    }

    .nav a {
        font-size: 13px;
    }

    .nav .sell-btn {
        padding: 5px 8px;
        font-size: 13px;
    }

    .item-detail {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px;
        max-width: 80%;
        margin: 50px auto;
    }

    .item-detail {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .item-detail__left,
    .item-detail__right {
        margin: 0;
        width: 100%;
    }

    .item-detail__image {
        max-width: 60%;
    }

    .price {
        font-size: 20px;
    }
}