/* リセット */
body,
h1,
p,
ul,
li,
input,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    /* デフォルトの余白をリセット */
    padding: 0;
    /* パディングをリセット */
    width: 100%;
    /* 幅を全体に広げる */
}

/* 全体の設定 */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}


/* メイン */
.main {
    padding: 0px;
}

/* タブ */


.tabs-container {
    margin-top: 10px;
    padding: 0;
    border-bottom: 1px solid #ccc;
    /* ボーダーを画面幅いっぱいに */
}

.tabs {
    display: flex;
    margin-left: 10%;
    font-size: 20px;
    font-weight: bold;

    /* タブを中央揃えに */

    /* 縦方向を中央揃え */
    gap: 7%;
    /* タブ間の間隔を設定 */
    padding-top: 10px;
    /* 上下に適切な余白を追加 */
}

.tab-link {
    color: #000;
    /* 通常の文字色 */
    text-decoration: none;
    /* 下線を消す */
}

.tab-link.active {
    color: red;
    /* アクティブ時の文字色 */
    font-weight: bold;
    /* 強調表示 */
}
/*
.tab-link {
    padding: 5px 15px;

    text-decoration: none;
    color: red;
    margin: 0;
}

.tab-link.active {
    color: #333;
}
 */

/* 商品一覧 */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 0 16px;
    margin: 50px auto;
    max-width: 95%;
}

.item {
    text-align: center;
    position: relative;
}

.item-image {
    width: 100%;
    aspect-ratio: 1;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
}

.item-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.item-name {
    margin-top: 8px;
    font-size: 20px;
    color: #333;
    text-align: left;
    text-decoration: none;
}

.item-status {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 3px;
}